:root {
    --theme-bg-color: #11121A;
    --theme-color: white;
    --bg-color: #1C1C24;
    --border-color: white;
    --search-border-color: white;
}

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
    color: var(--theme-color);
    background-color: var(--theme-bg-color);
}

header {
    background-color: var(--bg-color);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-bottom: 25px;
    color: var(--theme-color);
    border-bottom: 1px solid var(--theme-color);
}

.header-container {
    max-width: 1250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
}

.header-container .logo-container {
    display: flex;
    align-items: center;
}

.header-container .logo-container .logo {
    height: 30px;
    margin-right: 10px;
    border-radius: 50px;
    overflow: hidden;
}

.header-container .logo-container .logo img {
    height: 100%;
}

.header-container .toggle-container {
    display: flex;
    align-items: center;
    max-width: fit-content;
}

.header-container .toggle-container span {
    padding-right: 10px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #11121A;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: white;
    border: 1px solid var(--theme-color);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--theme-color);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.search {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 25px;
    color: var(--theme-color);
}

.search-container {
    background-color: var(--bg-color);
    height: 60px;
    border-radius: 10px;
    border: 1px solid var(--search-border-color);
    display: flex;
    overflow: hidden;
}

.input-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.input-container input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--theme-color);
    font-size: 20px;
    margin-left: 20px;
}

.input-container i {
    font-size: 20px;
    margin-left: 25px;
}

.button-container {
    background-color: #3060FF;
    color: white;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .2s ease;
}

.button-container:hover {
    background-color: #5a81ff;
}

.jobs-list {
    background-color: var(--theme-bg-color);
    max-width: 1250px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0 25px;
}

.jobs-list .jobs-header-container  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}

.jobs-list .jobs-header-container h1, .jobs-list .jobs-header-container .view-mode { 
    font-size: 20px;
    color: var(--theme-color);
}

.jobs-list .jobs-header-container .view-mode i {
    cursor: pointer;
}

.jobs-list .jobs-header-container .view-mode :first-child {
    margin-right: 10px;
}

.jobs-container {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    background: var(--theme-bg-color);
    padding-bottom: 40px;
}

.job-tile {
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: var(--theme-color);
    padding: 30px;
    transition: transform 0.2s;
}

.job-tile:hover {
    transform: scale(1.05);
}

.top {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.top img {
    width: 50px;
    height: 50px
}

.rolename {
    padding: 20px 0px;
}

.rolename span {
    font-size: 22px;
}

.description {
    height: 105px;
    flex-grow: 1;
    overflow: hidden;
    font-size: 18px;
    color: #96939B;
}

.buttons {
    color: black;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    height: 45px;
}

.button {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #96939B;
    background-color: #2E2E39;
    font-size: 14px;
}

.apply-now {
    color: white;
    background: #3060FF;
    margin-right: 15px;
}

@media screen and (max-width: 930px) {
    .jobs-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .jobs-container {
        grid-template-columns: repeat(1, 1fr);
    }
}